<head>
    <link rel="stylesheet" href="/orderItem.css">
</head>
<div class="orderItem">
    <div class="left">
        <p class="lf-up">
          <span>$264.99</span> - Thu, August 19, 2024
        </p>
        <p class="lf-dw">
            <ul>
                <li>Magic Camera - $264.99 ($59.99 x 4)</li>
            </ul>
        </p>
    </div>
    <div class="right">
        <button>PENDING</button>
    </div>
</div>