<head>
    <link rel="stylesheet" href="/ProductItem.css">
</head>
<div class="productItem">
    <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="image1">
    <div class="text">
        <h3 class="title">Magic camera</h3>
        <a href="/products/1" class="viewBtn">View Details</a>
    </div>
</div>