<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/formProductPage.css">
    <title>Document</title>
</head>
<body class="formProductPage">
    <%- include("./components/Header.ejs") %>
    <section class="formProduct">
        <h1>Add new product</h1>
        <%- include("./components/ProductForm.ejs", {btnTitle: 'Add', action: '/add-product', product: product}) %>
    </section>
</body>
</html>