<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cart.css">
    <title>Document</title>
</head>
<body class="cartPage">
    <%- include("./components/Header.ejs") %>
    <section class="content">
    <%if(products && products.length > 0){%>
            <h1>Your Cart</h1>
        <section class="items">
               <% products.forEach(element => {%>
                    <%- include("./components/CartItem.ejs", {product: element}) %>
                <% });%>
            
        </section>
        <section class="bottom">
            <h2>Total: $<%= totalCartPrice %></h2>
            <% if(user){%>
                <form action="/buy" method="POST">
                    <input type="hidden" name="products" value="<%= JSON.stringify(products) %>">
                    <button>Buy products</button></form>
            <% }else {%>
                <p>Login to proccess and purchase the items.</p>
            <% } %>
        </section>
        <% }else{
            %> <h1>No items in cart</h1> <%
        } %>
    </section>
</body>
</html>