<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cart.css">
    <title>Document</title>
</head>
<body class="cartPage">
    <%- include("./components/Header.ejs") %>
    <section class="content">
        <h1>Your Cart</h1>
        <section class="items">
            <% if(products && products.length > 0){
                products.forEach(element => {%>
                    <%- include("./components/CartItem.ejs", {product: element}) %>
                <% });%>
            <% } %>
        </section>
        <section class="bottom">
            <h2>Total: $119.98</h2>
            <% if(user){%>
                <form action="/buy" method="POST"><button>Buy products</button></form>
            <% }else {%>
                <p>Login to proccess and purchase the items.</p>
            <% } %>
        </section>
    </section>
</body>
</html>