<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manage-products.css">
    <title>Document</title>
</head>
<body class="manageProductsPage">
    <%- include("./components/Header.ejs") %>
    <section class="manageProducts">
        <h1>Product Administrator</h1>
        <h2>Manage products</h2>
        <a href="/add-product" class="addProductBtn">Add product</a>
        <section class="products">
            <%  products.forEach(element => {%>
                <%- include("./components/ProductItem.ejs", {product: element}) %>
            <% }); %>
        </section>
    </section>
</body>
</html>