<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manageOrders.css">
    <title>Document</title>
</head>
<body class="manageOrdersPage">
    <%- include("./components/Header.ejs") %>
    <section class="manageOrders">
        <%if(orders && orders.length > 0){
            orders.forEach(order => {%>
                <%- include("./components/OrderItem.ejs", {order: order}) %>
            <%});    
        }else{
            %> <h1>No orders found!!</h1> <%
        } %>
    </section>
</body>
</html>