<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="orders.css">
    <title>Document</title>
</head>
<body class="ordersPage">
    <%- include("./components/Header.ejs") %>
    <section class="orders">
        <%if(orders && orders.length > 0){
            %><h1>All Your Orders</h1><%
            orders.forEach(element => {%>
                <%- include("./components/OrderItem", {order: element}) %>
            <%}); 
        }else{
            %><h1>No orders, make one now :)</h1><%
        } %>
    </section>
</body>
</html>