<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="singup.css">
    <title>Document</title>
</head>
<body>
    <%- include("./components/Header.ejs") %>
    <section class="singup">
        <h1 class="title">Create New Account</h1>
        <%- include("./components/Form", {
            method: 'POST',
            action: '/singup',
            errors: singupInputErrors || [],
            links: [
                {
                    text: 'Login insted',
                    href: '/login',
                    class: 'formLink'
                }
            ],
            buttons: [
                {
                    text: 'Create account',
                    class: 'formBtn'
                }
            ],
            inputs: [
                {
                    type: 'mail',
                    placeholder: '',
                    value: '',
                    name: 'email',
                    text: 'E-mail',
                    value: singupInput.email
                },
                {
                    type: 'mail',
                    placeholder: '',
                    value: '',
                    name: 'confemail',
                    text: 'Confrim email',
                    value: singupInput.confemail
                },
                {
                    type: 'password',
                    placeholder: '',
                    value: '',
                    name: 'password',
                    text: 'Password',
                    value: ''
                },
                {
                    type: 'text',
                    placeholder: '',
                    value: '',
                    name: 'name',
                    text: 'Full name',
                    value: singupInput.name
                },
                {
                    type: 'text',
                    placeholder: '',
                    value: '',
                    name: 'street',
                    text: 'Street',
                    value: singupInput.street
                }
            ]
        }) %>
    </section>
</body>
</html>