.cartPage{
    color: white;
    background-color: #211F1D; 
}
.cartPage .content{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.cartPage .content .items{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.cartPage .content .bottom{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #BF8B45;
}
.cartPage .content .bottom form button{ 
    background-color: #C97E24;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
}