.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    grid-gap: 10px;
    background-color: #1D1A19;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.form .inputError{
    background-color: rgba(245, 120, 120, 0.772);
    border: 1px solid red;
    padding: 5px 0;
    border-radius: 5px;
}
.form .input{
    margin: 10px;
}
.form .input input{
    width: 100%;
    padding: 5px;
}
.form .input p{
    margin: 10px 0;
}