.manageProductsPage{
    color: white;
    background-color: #211F1D; 
}
.manageProducts{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-top: 50px;
}
.manageProducts .addProductBtn {
    background-color: #C97E24;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    margin-right: auto;
}
.manageProducts h1,h2,h3{
    margin: 10px;
}